:root {
    --white: rgb(255, 255, 255)
}





body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgb(40, 14, 112), rgb(141, 25, 133));
}

.main {
    display: flex;
    background-color: rgb(156, 124, 188);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;
    width: 90%;
    max-width: 600px;
    flex-direction: column;
}

.header {
    text-align: center;
    font-size: 2.5em;
    color: purple;
    margin-bottom: 20px;
}

.input-area {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

#input-task {
    padding: 12px 20px;
    border: 2px solid darkblue;
    border-radius: 10px;
    font-size: 1.1em;

    flex-grow: 1;
    box-sizing: border-box;
}

#input-task:focus {
    outline: none;
    border-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 40px white;



}

#add-btn {
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;

    background: linear-gradient(45deg, darkblue, purple);
    color: var(--white);
    cursor: pointer;

    transition: all 0.3s ease;
}

#add-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}