:root {
    --white: rgb(255, 255, 255)
}





body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgb(40, 14, 112), rgb(141, 25, 133));
}

.main {
    display: flex;
    background-color: rgb(156, 124, 188);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0);
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;
    width: 90%;
    max-width: 600px;
    flex-direction: column;
}

.header {
    text-align: center;
    font-size: 2.5em;
    color: purple;
    margin-bottom: 20px;
}

.input-area {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

#input-task {
    padding: 12px 20px;
    border: 2px solid darkblue;
    border-radius: 10px;
    font-size: 1.1em;

    flex-grow: 1;
    box-sizing: border-box;
}

#input-task:focus {
    outline: none;
    border-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 40px white;



}

#add-btn {
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;

    background: linear-gradient(45deg, darkblue, purple);
    color: var(--white);
    cursor: pointer;

    transition: all 0.3s ease;
}

#add-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.task-list {
    list-style: none;
    padding: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task-item{
    background-color: rgb(202, 161, 215);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.6s ease;
}

.task-item:hover{
    transform: translateY(-3px);
   
}

.task-content{
    font-size: 1.2em;
    margin-right: 15px;
    word-wrap: break-word;
    line-height: 1.4 ;
    flex-grow: 1;
}

.task-actions{
    display: flex;
    gap: 10px;
}

.task-btn {
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    cursor: pointer;
    opacity: 0.8;
}

