body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:center;
    background: linear-gradient(90deg, rgb(40, 14, 112), rgb(141, 25, 133));
}

.main {
    display: flex;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0,0);
    border-radius: 15px;
    padding: 30px;
    margin-top: 30px;
    width: 90%;
    max-width: 600px;
    flex-direction: column;
}
.header {
    text-align: center;
    font-size: 2.5em;
    color: brown;
    margin-bottom: 20px;
}
}